{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<link href="{% static 'css/r3c0n_infosec.css' %}" rel="stylesheet">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                        
		      </button>
		      <a class="navbar-brand" href="/">  
		      <table style="margin-top:-14px">
                <td>
                   <img class="logo"  src="{% static 'img/logo1.png' %}" alt="Header Image">
                </td>
                <td>
                   <div class="heading">R3c0n-Infosec</div>
                </td>
              </table>
            </a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li><a href="/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      {% if user.is_superuser %}
		        <li><a href="/admin"><span class="glyphicon glyphicon-lock"></span> Admin Panel</a></li>
		        <li><a href="/admin/metrics"><span class="glyphicon glyphicon-stats"></span> Stats</a></li>
		        <li><a href="/admin/add"><span class="glyphicon glyphicon-plus"></span> Add Article</a></li>
		        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		      {% else %}
		        <li><a href="#subscribe-model" data-toggle="modal" data-target="#subscribe-model"><span class="glyphicon glyphicon-thumbs-up"></span> Subscribe</a></li>
		      {% endif %}
		      </ul>
		    </div>
		  </div>
		</nav>
		<div id='subscribe-success' class="alert alert-success alert-dismissable" style="display:none">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Subscribed!</strong> You will now recieve emails when new blogs are available.
		</div>
		<div id='subscribe-failed' class="alert alert-danger alert-dismissable" style="display:none">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Subscription Failed</strong> This maybe due to the email address enter is invalid or already subscribed.
		</div>
		<div id='unsubscribe-success' class="alert alert-success alert-dismissable" style="display:none">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Unsubscribed :(</strong> Well this is unfortunate. Please let us know why and how we can improve, please contact us. Details can be found on the about page.
		</div>
		<div id='unsubscribe-failed' class="alert alert-danger alert-dismissable" style="display:none">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Subscription Failed</strong> If you really want to unsubscribe please enter the correct email address or please contact us. Details can be found on the about page.
		</div>
		<div class="col-sm-2 sidenav panel-body">
			<h4>Blog</h4>	
      			<nav>
      				<ul class='menu-tree'>
      					<li>
      						{% for year, months in all_posts.items %}
      						<input type="checkbox" class="show-menu" id="{{year}}" checked>
								<label for="{{year}}" class="enlarge"></label>
								<a href="">{{year}}</a>
								<ul class="level-01">
									{% for month, posts_in_month in months.items %}
										<input type="checkbox" class="show-menu" id="{{month}}" checked>
										<label for="{{month}}" class="enlarge"></label>
										<a href="">{{month}}</a>
										<ul class="level-02">
										{% for post in posts_in_month %}
												{% for name, link in post.items %}
												<li>
													<a href="{{link}}">{{name}}</a>
												</li>      								
      											{% endfor %}								
      									{% endfor %}
										</ul>

      								{% endfor %}
								</ul>

      						{% endfor %}
      					</li>
      				</ul>
      			</nav>
		</div>
		<div class="col-sm-10">
			{% block content %}

			{% endblock %}
		</div>

	<!-- subscribe -->
	<div id="subscribe-model" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	   <form id='subscribe-form'>
	   {% csrf_token %}
	    <div class="modal-content model-custom">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Subscribe</h4>
	      </div>
	      <div class="modal-body">
			        <label>Email Address</label>
			        <input id='subscribe-email' type="text" name="email">
	      </div>
	      <div class="modal-footer">
	        <a href='#' class='pull-left' id='unsubscribe-link'>Unsubscribe</a>
			<button type='button' id='subscribe-btn' class='btn btn-custom'>Subscribe</button>
	        <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	   </form>

	  </div>
	</div>

	
	<canvas id="canvas"></canvas>

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src = "https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<script src = "https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript" src='{% static "js/background.js" %}'></script>
	<script type="text/javascript" src='{% static "js/general.js" %}'></script>
	{% block javascript %}

	{% endblock %}	

	</body>
</html>